<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="source-file-path-addresses" value="all-addresses.xlsx" />
		<add key="destination-file-path-addresses" value="adresses-bielefeld.xlsx" />
		<add key="condition-french" value="$D2 = &quot;Francais&quot;" />
		<add key="condition-dont-visit" value="$E2 = &quot;Ne voulant Plus être Visité&quot;" />
		<add key="condition-data-range-start" value="A2" />
		<add key="excel-last-data-column" value="U" />
		<!-- Not Hidden columns are: 1,7 and 10-->
		<add key="excel-wanted-columns" value="1,7,10" />
		<!-- Territory Helper URL parameters -->
		<add key="territory-helper-url" value="https://territoryhelper.com/fr/Login" />
		<add key="territory-helper-user" value="hcminko@hotmail.com" />
		<add key="service-path-publishers" value="/fr/Excel/ExportPublishers" />
		<add key="service-path-addresses" value="/fr/Excel/ExportLocations" />
		<add key="service-path-territories" value="/fr/[FORMAT]/Export" />
		<add key="service-path-assignments" value="/fr/Excel/ExportAssignments?context=AllTime" />
		<!--Mailing-->
		<!-- HOTMAIL SMTP settings
		<add key="mail-smtp-server" value="smtp.live.com" />
		<add key="mail-smtp-port" value="25" />
		-->
		<!-- YAHOO SMTP settings ????
		<add key="mail-smtp-server" value="smtp.mail.yahoo.com" />
		<add key="mail-smtp-port" value="465" />
		-->
		<!-- GMAIL SMTP settings. -> activate less secure client access for your GMAIL account!!
		<add key="mail-smtp-server" value="smtp.gmail.com" />
		<add key="mail-smtp-port" value="587" />
		-->
		<add key="mail-smtp-server" value="xxxxx" />
		<add key="mail-smtp-port" value="xxxxx" />
		<add key="mail-sender" value="xxxxx" />
		<add key="mail-password" value="xxxxx" />
		<add key="mail-subject-territory-work" value="Travail de tes territoires" />
		<add key="mail-subject-territory-return" value="Retour de tes territoires" />
		<add key="mail-subject-free-text" value="Territoires - Information importante" />
		<!--<add key="mail-content-add" value="Une petite erreur concernant les adresses des responsables des territoires a été corrigée dans cet Email." />-->
		<add key="signature-intro" value="Tes frères" />
		<add key="signature" value="Euloge Babang (babangeuloge@yahoo.fr), Joel Djeutchouang(djeuchjoel@yahoo.com)" />
		<add key="mail-sending-error-msg" value="Erreur durant l'envoi du courriel\n\n" />
	</appSettings>
</configuration>