<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="source-file-path-addresses" value="all-addresses.xlsx" />
		<add key="destination-file-path-addresses" value="adresses-bielefeld.xlsx" />
		<add key="condition-french" value="$D2 = &quot;Francais&quot;" />
		<add key="condition-dont-visit" value="$E2 = &quot;Ne voulant Plus être Visité&quot;" />
		<add key="condition-data-range-start" value="A2" />
		<add key="excel-last-data-column" value="U" />
		<!-- Not Hidden columns are: 1,7 and 10-->
		<add key="excel-wanted-columns" value="1,7,10" />
		<!-- Territory Helper URL parameters -->
		<add key="territory-helper-url" value="https://territoryhelper.com/fr/Login" />
		<add key="service-path-publishers" value="/fr/Excel/ExportPublishers" />
		<add key="service-path-addresses" value="/fr/Excel/ExportLocations" />
		<add key="service-path-territories" value="/fr/[FORMAT]/Export" />
		<add key="service-path-assignments" value="/fr/Excel/ExportAssignments?context=AllTime" />
		

	</appSettings>
</configuration>