<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="sourceFilePath" value="C:\Development\c-sharp\ExcelNPOI\Bielefeld Francophone - Emplacements.xlsx" />-->
    <add key="sourceFilePath" value="Bielefeld Francophone - Emplacements.xlsx" />
    <add key="destinationFilePath" value="adresses-bielefeld.xlsx" />
    <add key="condition-french" value="$D2 = &quot;Francais&quot;" />
    <add key="condition-dont-visit" value="$E2 = &quot;Ne voulant Plus être Visité&quot;" />
    <add key="condition-data-range-start" value="A2" />
    <add key="excel-last-data-column" value="U" />
    <!-- Not Hidden columns are: 1,7 and 10-->
    <add key="excel-wanted-columns" value="1,7,10" />
    <!-- Territory Helper parameters -->
    <add key="territory-helper-url" value="https://territoryhelper.com/fr/Login" />
    <add key="address-service-path" value="/fr/Excel/ExportLocations" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>